
.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 80vw;
  font-weight: 200;
  height: 300px;
  border: 2px dashed #ff4081;
  border-radius: 5px;
  background: white;
  margin: 10px 0;

  &.hovering {
    border: 2px solid #ff4081;
    color: #dadada !important;
  }

  .file-label {
    font-size: 1.2em;
  }
}

icon-img-2{
  height: 60px;
}
