<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/gallery']">
      <img class="m-r-3 icon-img" src="assets/icons/camera.svg" alt="logo">
      Photo.haladamateusz.com
    </a>
  </div>
  <div *ngIf="user?.email!==null" class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <a (click)="upload()" class="button is-info">
          Upload
        </a>
        <a (click)="logOut()" class="button is-info">
          Logout
        </a>
      </div>
    </div>
  </div>

</nav>
