

.navbar-start > .navbar-item:hover {
  cursor: inherit;
}



$primary: #0288d1;
$info: #ff4081;
$navbar-item-color: $info;
$body-color: slateblue;
$success: #03a9f4;
$warning: #b3e5fc;
$navbar-item-hover-background-color: #0288d1 !important;

