<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Made with 💙 by <a href="https://haladamateusz.com">Mateusz Hałada</a>.
    </p>
    <p>Tools used</p>
    <p>
      <a href="https://angular.io/"><img class="m-r-3 m-l-3 icon-img" src="assets/icons/angular.svg"/></a>
      <a href="https://firebase.google.com/"><img class="m-r-3 m-l-3 icon-img" src="assets/icons/firebase.svg"/></a>
      <a href="https://bulma.io/"><img class="m-r-3 m-l-3 icon-img" src="assets/icons/bulma.svg"/></a>
    </p>
  </div>
</footer>
